<launch>
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node"
        name="apriltag_ros_continuous_node" clear_params="true" output="screen">
    <rosparam command="load" file="$(find vpa_robot_perception)/config/settings.yaml"/>
    <rosparam command="load" file="$(find vpa_robot_perception)/config/tags.yaml"/>
    <remap from="image_rect" to="/fiona/robot_cam/image_raw"/>
    <remap from="camera_info" to="/fiona/robot_cam/camera_info"/>
  </node>
</launch>