#!/usr/bin/env python3
PACKAGE = "vpa_robot_interface"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("kp_left", double_t, 0, "p gain left", 0.1, 0, 1)
gen.add("ki_left", double_t, 0, "I gain left", 0.01, 0, 1)
gen.add("kp_right", double_t, 0, "p gain right", 0.1, 0, 1)
gen.add("ki_right", double_t, 0, "I gain right", 0.01, 0, 1)
exit(gen.generate(PACKAGE, "vpa_robot_interface", "omega"))
